.salvar{
    margin-right: 10px;
    background-color: green;
}
.cancelar:hover{
    background-color: red;
}
.form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.form-check{
    width: 20%;
}

.mat-card { 
    width: 19%;
    margin: auto auto;
    margin-top: 200px;
}
.mat-card-title{
    justify-content: center;
}
.mat-hint{
    color: red  ;
}
.cadastro{
    margin-top: 15px;
}
.background{
    background: url("C:\Users\Usuario\Desktop\Git e Github\Meu Projetos\Prot-tipo-A2W-Angular\Crud\frontend\src\assets\imgs/agronegocio.jpg");
    background: no-repeat;
}
