.salvar{
    margin-right: 10px;
    background-color: green;
}
.cancelar:hover{
    background-color: red;
}
.form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.form-check{
    width: 20%;
}
.mat-card {
    width: 19%;
    margin: auto;
}
.mat-card {
    width: 19%;
    margin: auto;
}
.mat-card-title{
    justify-content: center;
}
.cadastro{
    margin-top: 15px;
}

