<mat-card-title style="display:block; margin-bottom: 20px;" >Home</mat-card-title>
<div class="mat-elevation-z8">
    <table mat-table matSort [dataSource]="modcliente" >
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef >Id</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="clientes">
        <th mat-header-cell *matHeaderCellDef >Cliente</th>
        <td mat-cell *matCellDef="let row" >{{row.clientes.name}}</td>
      </ng-container>
  
      <ng-container matColumnDef="modulos">
        <th mat-header-cell *matHeaderCellDef >Módulo</th>
        <td mat-cell *matCellDef="let row">{{row.modulos.name}}</td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef >Status </th>
        <td mat-cell *matCellDef="let row">Ativo: {{row.status}}</td>
      </ng-container>
      <ng-container matColumnDef="quantidadeCliente">
        <th mat-header-cell *matHeaderCellDef >Quantidade de clientes </th>
        <td mat-cell *matCellDef="let row">Ativo: {{row.quantidadeCliente}}</td>
      </ng-container>
      <ng-container matColumnDef="quantidadeModulo">
        <th mat-header-cell *matHeaderCellDef >Quantidade de módulos</th>
        <td mat-cell *matCellDef="let row">Ativo: {{row.quantidadeModulo}}</td>
      </ng-container>
      <ng-container matColumnDef="usuarios">
        <th mat-header-cell *matHeaderCellDef>Quantidade a mais</th>
        <td mat-cell *matCellDef="let row">
          <div [ngSwitch]="menor(row.quantidadeCliente, row.quantidadeModulo)">
            <div *ngSwitchCase="1" style="color: green">{{Resultado(row.quantidadeCliente, row.quantidadeModulo)}}</div>
            <div *ngSwitchCase="0" style="color: red;">{{Resultado(row.quantidadeCliente, row.quantidadeModulo)}}</div>               
          </div>
        </td>
    </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
  </div>
  