<mat-card>
    <mat-card-title>Cadastro MPC</mat-card-title>
    <form class="form">
        <div class="input-group">
            <div class="content-1">
                <mat-form-field appearance="fill">
                    <mat-label>Cliente</mat-label>
                    <mat-select name="name" [(ngModel)]= "modcliente.clientes">
                        <mat-option *ngFor="let c of clientes" [value]="c">
                            {{ c.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Módulo</mat-label>
                    <mat-select name="name" [(ngModel)]= "modcliente.modulos">
                        <mat-option *ngFor="let m of modulos" [value]="m">
                            {{ m.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="content-2">
                <mat-form-field>
                    <mat-label>Quantidade Cliente</mat-label>
                    <input matInput  placeholder="Ex. 12" name= "quantidadeCliente"[(ngModel)]= "modcliente.quantidadeCliente">
                    <span matSuffix>un</span>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Quantidade Módulos</mat-label>
                    <input matInput  placeholder="Ex. 12" name= "quantidadeModulo"[(ngModel)]= "modcliente.quantidadeModulo">
                    <span matSuffix>un</span>
                  </mat-form-field>
                <mat-form-field class="inputs" appearance="outline">
                    <input matInput placeholder="Data" name="data" [(ngModel)]="modcliente.data" type="date">
                </mat-form-field>
            </div>
            
        </div>
        <div class="form-check form-switch">
            <input class="toggle" type="checkbox" name="status" id="check">
            <label class="label" for="check"></label>
        </div>  
    </form>
</mat-card>
<button mat-raised-button class="salvar" (click)="adicionarMod()">
    Salvar
</button>
<button mat-raised-button class="cancelar" (click)="cancel()">
    Cancelar
</button>
