.salvar{
    margin-right: 10px;
    background-color: green;
}
.cancelar:hover{
    background-color: red;
}
.form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.form-check{
    width: 20%;
}
button{
    margin-top: 20px;
}
input[type="checkbox"].toggle + label{
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}
input[type="checkbox"].toggle{
    opacity: 0;
    position: absolute;
    left:-9000px;
    top:-9000px;
}

input[type="checkbox"].toggle+ label::before{
    content: "";
    width: 10em;
    height: 3em;
    background-color: rgb(231, 216, 216);
    border-radius: 1em;
    margin-right: 1em;
}
input[type="checkbox"].toggle+ label::after{
    display: flex;
    position: absolute;
    content: "OFF";
    color: white;
    align-items: center;
    justify-content: center;
    width: 5em;
    height: 2.5em;
    background-color: rgb(216, 20, 20);
    border-radius: 1em;
    left: .25em;
    transition: 200ms ease-in-out;
}
input[type="checkbox"].toggle:checked + label::after{
    position: absolute;
    content: "ATIVO";
    color: white;
    width: 5em;
    height: 2.5em;
    background-color: rgb(25, 158, 31);
    border-radius: 1em;
    left: 4.70em;
    transition: 200ms ease-in-out;
}
.senha-content{
    display: flex;
}