<mat-card>
    <mat-card-title>Ola!</mat-card-title>
    <form class="form">
        <mat-form-field appearance="outline">
            <input matInput placeholder="Nome" [(ngModel)]="modulo.name" name="name">
            <mat-hint>*Entre com seu nome completo</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline" >
            <input matInput placeholder="Descrição" [(ngModel)]="modulo.description" name="description">
        </mat-form-field>
        <div class="form-check form-switch">
            <input class="toggle" [(ngModel)]="modulo.status" type="checkbox" name="status" id="check">
            <label class="label" for="check">Status do Módulo</label>
        </div>
        
    </form>
</mat-card>
<button mat-raised-button class="salvar" (click)="cadastrarModulo()" >
    Salvar
</button>
<button mat-raised-button class="cancelar" (click)="cancel()">
    Cancelar
</button>

