<mat-card>
    <mat-card-title>Cadastrar Módulo</mat-card-title>
    <form class="form">
        <mat-form-field appearance="outline">
            <input matInput placeholder="Nome">
            <mat-hint>*Entre com seu nome completo</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <input matInput placeholder="Descrição">
            <mat-hint>*Entre com seu nome completo</mat-hint>
        </mat-form-field>
        
    </form>
</mat-card>
<div class="buttons ">
    <button mat-raised-button class="salvar" (click)="cadastrarModulo()" >
        Salvar
    </button>
    <button mat-raised-button class="cancelar" routerLink="/cliente">
        Cancelar
    </button>
</div>
<input type="checkbox" class="toggle" id="check">
<label for="check">Status</label>