.sidenav{
    background-color: #134b5a;
    width: 150px;
}
.sidenav a, i{
    color: white;
}
.sidenav i{
    padding-right: 10px;
}
.content{
    background-color: white;
    padding: 20px;
}
.dropmenu {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    background-color: #0c0a0a;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    margin-right: 4px;
    margin-left: 4px;
}
.dropdown-content a {
    color: rgb(245, 240, 240);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}
.material-icons, .icon-text {
    vertical-align: middle;
  }
