<mat-sidenav-container>
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="90">
        <mat-nav-list class="menu-container">
            <a mat-list-item routerLink="">
                <i class="material-icons" >
                    home
                </i>
                Início
            </a>
            <div class="dropdown">
                <a mat-list-item class="dropmenu" (click)="toggleMenu()">
                    <i class="material-icons">
                        sort
                    </i>
                    Cadastros
                </a>
                <div class="dropdown-content" *ngIf="isMenuOpened">
                    <a routerLink="cliente">Clientes</a>
                    <a>Módulos</a>
                    <a>Módulo Cliente</a>
                </div>
            </div>
            
            <div class="dropdown">
                <a mat-list-item class="dropmenu" (click)="toggleMenu2()" >
                    <i class="material-icons">
                        person
                    </i>
                    Perfil
                </a>
                <div class="dropdown-content" *ngIf="isMenuOpened2">
                    <a routerLink="perfil">
                        <i class="material-icons">
                            settings
                        </i>
                        Editar 
                    </a>
                    <a>
                        <i class="material-icons v-middle">
                            exit_to_app
                        </i>
                        <span class="links">Sair</span>
                    </a>
                </div>
            </div>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>