<mat-card>
    <mat-card-title>Cadastro MPC</mat-card-title>
    <form class="form">
        <div class="input-group">
            <div class="content-1">
                <mat-form-field class="inputs" appearance="outline">
                    <input matInput placeholder="Nome do cliente" >
                </mat-form-field>
                <mat-form-field class="inputs" appearance="outline">
                    <input matInput placeholder="Nome do módulo">
                </mat-form-field>
            </div>
            <div class="content-2">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Quantidade">
                </mat-form-field>
                <mat-form-field class="inputs" appearance="outline">
                    <input matInput placeholder="Data" type="date">
                </mat-form-field>
            </div>
        </div>
        <div class="form-check form-switch">
            <input class="toggle" type="checkbox"id="check">
            <label class="label" for="check"></label>
        </div>  
    </form>
</mat-card>
<button mat-raised-button class="salvar" (click)="updateCliente()" >
    Salvar
</button>
<button mat-raised-button class="cancelar" (click)="cancel()">
    Cancelar
</button>
